* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-size: 40px;
    text-transform: capitalize;
}

.all-teb ul a.active,
.all-teb ul span.active {
    color: #ca373c !important;
}

.all-teb ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
/******************new******************************/
.vercel{
    position: relative;
}
.vercel> span {
    border: 1px solid #d6d5d5!important;
    margin-right: 15px!important;
    width: 70px!important;
    height: 70px!important;
    border-radius: 5px;
    padding: 5px!important;
}
.vercel button {
    position: absolute;
    right: 18px;
    top: 3px;
    border: 1px solid #ccc!important;
    background-color: #ffffff87;
    width: 20px;
    height: 22px;
    line-height: 0.68;
    font-size: 18px;
    border-radius: 100px;
}
figure.package-img p {
    top: 10px;
    bottom: auto;
    font-size: 20px;
}
.img-no> span::after {
    content: "";
    text-align: center;
    font-size: 25px;
    left: 0;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.img-no> span:first-child::after {
    content: "1"; 
}
.img-no> span:nth-child(2)::after {
    content: "2"; 
}
.img-no> span:nth-child(3)::after {
    content: "3"; 
}
.img-no> span:nth-child(4)::after {
    content: "4"; 
}
.mideel-mene ul li:nth-child(2) {
    padding-right: 0;
}


.title h3 {
    font-weight: 700;
}

.title h6 {
    color: #000;
    font-size: 20px;
}

.img-no > span img {
    display: none!important;
}
.pharmaceutical-contant h5 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0;
    width: 81%;
}
.pharmaceutical-contant p {
    font-size: 9px;
    margin-bottom: 0;
    width: 81%;
}

ul.MuiMenu-list .cu-2  li.dropdown-item span.MuiTouchRipple-root::after {
    content: "\f105";
    position: absolute;
    font-size: 15px;
    font-family: 'FontAwesome';
    right: 10px;
    line-height: 3;
}
.MuiMenu-list .bg-light {
    margin-left: 140px!important;
    margin-top: -40px;
}
 
.MuiMenu-list .bg-light a, .MuiMenu-list .bg-light a:hover{
    color: #000;
    text-decoration: none;
}
.flexclas button {
    margin-bottom: 0!important; 
}
.mobwrep {
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}


/******************new******************************/
.review-icon ul li {
    color: #303c7a;
}


.all-teb ul a,
.all-teb #material-tabs ul span {
    cursor: pointer;
    position: relative;
    font-size: 22px;
    font-weight: 500;
    color: #000;
    font-family: 'Montserrat';
    text-decoration: none;
}

#material-tabs {
    position: relative;
    display: block;
    padding: 0;
}

#material-tabs .active::after {
    content: "";
    position: absolute;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: #ca373c;
    bottom: -5px;
}

#material-tabs>a,
#material-tabs>span {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 22px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #424f5a;
    text-align: center;
    cursor: pointer;
}

#material-tabs>.active {
    font-weight: 700;
    outline: none;
}

#material-tabs>a:not(.active):hover,
#material-tabs>span:not(.active):hover {
    background-color: inherit;
    color: #7c848a;
}
.mideel-mene ul.list-menu li.nav-item button {
    padding: 0;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    position: relative;
    color: #fff;
}
header.darkHeader .mideel-mene ul.list-menu li.nav-item button{
    color: #000;
}


.mideel-mene ul.list-menu li.nav-item button::after{
    content: "";
    background-color: #f7ad18;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: 0.5s; 
}

.all-teb ul li {
    padding: 10px 35px;
}

.all-teb ul li:first-child {
    padding-left: 0;
}

.tab-content {
    padding: 25px;
}

.tsb-meneg p {
    font-size: 15px;
    line-height: 1.5;
    color: #000;
}

.teb-under-con ul li p {
    font-size: 16px;
}

.teb-under-con ul li {
    width: 40%;
    padding: 0;
}

.teb-under-con ul {
    flex-wrap: wrap;
}

.teb-under-con ul {
    padding-top: 20px;
}

@media only screen and (max-width: 520px) {

    .nav-tabs#material-tabs>li>a,
    .nav-tabs#material-tabs>li>span {
        font-size: 11px;
        cursor: pointer;
    }

}

.tab-content {
    padding: 5px 0px;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 10px;
    min-height: 220px;
}
.btn-danger.disabled, .btn-danger:disabled {
    color: #000;
    background-color: #f7ad18;
    border-color: #f7ad18;
}
.all-teb h3 {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    color: #262627;
}


.all-teb ul li:first-child {
    padding-left: 0;
}

.mideel-mene ul.varymenu li a.cart {
    position: relative;
}

.mideel-mene ul.varymenu li a.cart span.cart-nub {
    position: absolute;
    z-index: 999;
    top: -10px;
    font-size: 12px;
    background-color: #ca373c;
    padding: 4px;
    border-radius: 100px;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 0.8;
    right: -10px;
    color: #fff;
}
.bannerbottom .banner-content {
    width: 60%;
    padding: 45px 100px 15px 64px;
    position: relative;
}
.bannerbottom .banner-content::after {
    content: "";
    border-color: white transparent transparent transparent;
    border-width: 306px 100px 0 0;
    border-style: solid;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.buttons button.addtubul {
    width: 190px;
}

.search-container i.fa.fa-search {
    position: absolute;
    z-index: 999;
    top: 15px;
    font-size: 20px;
    right: 395px;
}

.socail-media li a:hover {
    background-color: #ca373c;
    color: #fff;
}

.search-form-main {
    background: #fff none repeat scroll 0 0;
    -webkit-box-shadow: 1px 1px 7px rgb(0 0 0 / 15%);
    box-shadow: 1px 1px 7px rgb(0 0 0 / 15%);
    border-top: 5px solid #ca373c;
    padding: 15px;
    position: absolute;
    right: 25%;
    top: 100%;
    width: 400px;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
}

.search-form-main.active-search {
    opacity: 1;
    visibility: visible;
}

.search-form-main input.search-field {
    font-size: 20px;
    padding: 10px;
    font-family: 'Montserrat';
    border-radius: 5px;
    outline: none;
}

.search-form-main input.search-submit {
    font-size: 20px;
    font-family: 'Montserrat';
    padding: 10px;
    background-color: #ca373c;
    color: #fff;
    outline: none;
    border: none;
}

main {
    overflow-x: hidden;
}


header {
    right: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    top: 0;
    position: fixed;
    padding: 0 30px;
}

header.darkHeader { 
    background-color: #fff; 
}


section {
    padding: 60px 0;
}

img {
    max-width: 100%;
}

.maneg-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a img {
    width: 175px;
}
.logo a img:nth-child(2) {
    display: none;
}
header.darkHeader .logo a img:first-child {
    display: none;
}
header.darkHeader .logo a img:nth-child(2) {
    display: block;
}
.mideel-mene {
    display: flex;
    align-items: center;
    justify-content: space-between;
     width: 80%;
}

.mideel-mene ul {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
}

.mideel-mene ul.list-menu li {
    padding: 0px 30px 0px 0px;
}

.mideel-mene ul.list-menu li a {
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    position: relative;
}

header.darkHeader .mideel-mene ul.list-menu li a{
    color: #000;
}
.mideel-mene ul.list-menu li a::after {
    content: "";
    background-color: #f7ad18 ;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: 0.5s;
}
.mideel-mene ul.list-menu li.nav-item button:hover::after, .mideel-mene ul.list-menu li a:hover::after {
    width: 100%;
}

.mideel-mene ul.varymenu li a,
.mideel-mene ul.varymenu li .link {
    font-size: 20px;
    color: #000;
    cursor: pointer;
}

.mideel-mene ul li:last-child {
    padding: 0;
}

.mideel-mene ul.varymenu li .sinup {
    border-radius: 28px;
    font-size: 35px;
    color: #fff;
    text-decoration: none;
    background: #ffffff;
    padding: 0px 5px;
    transition: 0.5s all;
    position: relative;
    z-index: 99;
    width: 50px;
    height: 50px;
    line-height: 0;
}
.mideel-mene ul.varymenu li .sinup i.fa.fa-user-circle {
    color: #252f61;
    font-size: 25px;
}

.mideel-mene ul.varymenu li .sinup:hover {
    color: #fff;
    box-shadow: 277px 0 0 0 #f7ad18  inset;
}

.mideel-mene ul.varymenu li a,
.mideel-mene ul.varymenu li .link {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
}
header.darkHeader .mideel-mene ul.varymenu li a,
header.darkHeader .mideel-mene ul.varymenu li .link{
    color: #000;
}

.mideel-mene ul li a.humb span.mainhunm span.line {
    width: 30px;
    height: 4px;
    display: block;
    background-color: #fff;
    margin: 5px 0px;
    margin-left: auto;
}
header.darkHeader .mideel-mene ul li a.humb span.mainhunm span.line{
    background-color: #000;
}

.mideel-mene ul li a.humb span.mainhunm span.line:nth-child(2) {
    width: 40px;
    margin: 0;
    margin-left: auto;
}

.mideel-mene ul li {
    padding: 0px 25px;
}

.main-header {
    padding: 25px 0px;
    position: relative;
    /* overflow: hidden; */
}

.banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 60px 0px;
    position: relative;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.main-banner {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9;
}

.banner::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 46, 91, 0.8);
    backdrop-filter: saturate(180%) blur(0px);
}

.banner-content h1 {
    font-weight: 700;
    font-size: 65px;
    line-height: 75px;
    text-transform: uppercase;
    color: #f7ad18;
    margin-bottom: 15px; 
}

.banner-content p {
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 45px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}
header.darkHeader button.btn.sinup {
    background-color: #303c7a;
}
header.darkHeader button.btn.sinup i.fa.fa-user-circle {
    color: #fafafa;
}
.dolarret {
    font-size: 26px;
    font-weight: 700;
}
.dolarret span {
    font-size: 16px;
    font-weight: 500;
    padding-left: 8px;
    color: #ca373c;
}

button.buy_bundle {
    border-radius: 0px!important;
    width: 175px;
    font-size: 15px;
    text-transform: none;
    line-height: 3;
    letter-spacing: 0.05em;
    margin-top: 11px;
    cursor: pointer;
}
button.buy_bundle i.fa.fa-arrow-right {
    padding-right: 18px;
    font-size: 20px;
}
a.button-download-launcher,.buy_bundle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 23px; 
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #f7ad18;
    width: 380px; 
    display: inline-block;
    text-align: center;
    line-height: 3.3;
    margin-top: 30px;
    text-decoration: none;  
    outline-offset: 5px;
    outline: 1px solid #f7ad18;
}
.banner-content a.button-download-launcher:nth-child(4) {
    background-color: transparent;
    color: #fff;
    border: 2px solid #CA373C;
}

a.button-download-launcher i.fa {
    margin-right: 10px;
    font-size: 24px;
}

.banner-content {
    width: 100%;
    
}
section.farmertical { 
    padding: 0;
    margin-top: -70px;
}
.listitem-farmertycal:last-child .indastry::after {
    opacity: 0;
}

.indastry::after {
    position: absolute;
    content: "";
    border-right: 2px solid #f7ad18;
    left: 0;
    right: 0;
    top: 5px;
    bottom: 0;
    height: 65px;
}
.indastry {
    display: flex; 
    padding: 18px 16px;
    flex-wrap: wrap;
    background-color: #303c7a; 
}

.indastry-img { 
    margin-right: 10px;
}

.indastry-content h4 a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 0px;
    color: #ffffff;
    margin-bottom: 0;
    margin-top: 10px;
    text-transform: uppercase;
}
.indastry-content h5  {
    position: relative;
}


.indastry-content h5 a {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    color: #e6e6e6;
    text-decoration: none;
    position: absolute;
    top: -3px;
    font-weight: 300;
}

.filter-header {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 10px 25px;
    justify-content: space-between;
    background: transparent;
    margin-bottom: 30px;
    border-radius: 5px;
}

.filter-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}


.fillter-inp {
    width: 100%;
}

.filltercode {
    display: flex;
    justify-content: space-between;
}






.filterkey legend {
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.filterbut .control {
    display: inline-flex;
    position: relative;
    margin: 5px;
    cursor: pointer;
    border-radius: 99em;
    width: 49%;
    margin-left: 0;
    margin-right: 0;
}


.filterkey .control input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.filterkey li a.show-more {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
    border-bottom: 3px solid rgba(202, 55, 60, 1);
}

.filterbut .control__content {
    align-items: center;
    padding: 10px 10px;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    width: 100%;
    text-align: center;
    position: relative;
    line-height: 1;
}

/* .filterkey .control input:checked ~ .control__content {
    background-image: url(../images/yes.svg);
    background-repeat: no-repeat;
    background-position: right top 0px;
    z-index: 999999;
}*/

.filterkey .control input:checked~.control__content::after {
    content: "";
    background-image: url(../images/yes.svg);
    background-repeat: no-repeat;
    background-position: right top 0px;
    z-index: 999999;
    background-size: 25px;
    width: 35px;
    height: 35px;
    position: absolute;
    right: -4px;
    top: -8px;
}

.filterkey {
    list-style: none;
}

.allfilter {
    border: 1px solid #C8C8C8;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 25px 25px;
    margin: 0px 0px;
}

.filterkey li .plus {
    border-bottom: 1px solid #B6B6B6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 28px;
    color: #000000;
    padding-bottom: 15px;
    margin-bottom: 5px;
    text-decoration: none;
    cursor: pointer;
}

.filter-title h6 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: rgb(20, 20, 20);
    margin-bottom: 0;
}

button.button.button--md.button--link-gray.button--icon.filter-collapse {
    border: none;
    background-color: transparent;
    font-size: 20px;
    outline: none;
    box-shadow: none;
}

.filterkey li .plus img {
    width: 45px;
}

.filterbut {
    flex-wrap: wrap;
    justify-content: space-between;
    display: none;
    padding: 10px 0;
}

.filterkey li.current .filterbut {
    display: flex;
}

.filterkey li.current .plus .fa-angle-down::before {
    content: "\f106";
}

.filterkey li {
    padding: 0px 0px;
}

.filterkey li .plus span.platform {
    width: 215px;
}



.title {
    text-align: center;
}

/****************Media*********************/
.title {
    position: relative;
    margin-bottom: 80px;
}



.pharmaceutical-box {
    border: 1px solid #D1D1D1;
    border-radius: 17px;
}

.pharmaceutical-box img {
    width: 100%;
}


.pharmaceutical-contant {
    padding: 13px 13px 13px 13px;
    position: relative;
}
.review-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.review-icon ul {
    display: flex;
    align-items: center; 
}
.review-item ul{
    list-style: none;
    margin-bottom: 0;
}
.prodwerp ul {
    display: flex;
    align-items: center;
}
.prodwerp ul li a {
    color: #000;
    font-size: 20px;
}
.prodwerp ul li {
    margin: 0px 5px;
}
.prodwerp ul li:first-child {
    margin-left: 0px;
}
.prodwerp ul li:last-child {
    margin-right: 0px;
}

.girditem {
    text-align: right;
    display: none;
}


.girditem a {
    font-size: 35px;
    color: #b8b8b8;
}
a.girdfilter.active {
    color: #303c7a;
}

.prodwerp ul li a.girditemea img {
    height: auto;
    width: 18px;
}

.review-icon ul li {
    padding: 0px 3px;
    color: #ffa00b;
    font-size: 10px;
}
.review-icon ul li:first-child {
    padding-left: 0px ;
}
.review-icon ul li:last-child {
    padding-right: 0px ;
}
.pharmaceutical-contant h3 span {
    font-weight: 600;
    font-size: 14px;
    color: #ca373c;
}
.pharmaceutical-contant h3 {
    position: absolute;
    right: 0; 
    padding: 5px 6px;
    top: 5px; 
}
.buttons button.btn {
    width: 48%;
}
.buttons button.carts {
    width: 48%;
    display: flex;
    align-items: center;
}
.buttons button.carts span {
    font-size: 10px;
    letter-spacing: 0;
    font-weight: 600;
}

.prodwerp ul li a.girditemea i {
    color: #fff;
    font-size: 15px;
    padding: 1px;
}







.buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    padding-top: 10px;
}

.buttons button.carts {
    background-color: #ca373c;
    padding: 6px 22px;
    color: #fff;
    font-size: 22px;
    border: 0;
    letter-spacing: 6px;
    cursor: pointer;
}

.owl-nav {
    display: block !important;
    position: absolute;
    top: 46%;
    transform: translateY(-50%);
    width: 100%;
}

.buttons button {
    border: 1px solid;
    padding: 7px 18px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    color: #CA373C;
    outline: none;
    background-color: white;
    cursor: pointer;
    width: 55px;
}

.buttons button {
    transition: .5s all;
}

.buttons button:hover {
    box-shadow: 277px 0 0 0 #f7ad18 inset;
    color: #fff !important;
}

h5.Pharmacepo {
    border: 2px solid #000;
    text-align: center;
    width: 200px;
    padding: 12px 0;
    margin: 0 auto;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: 600;
    font-size: 15px;
    color: #CA373C;
    margin-top: -22px;
    background-color: white;
    position: relative;
}

.pharmaceutical-contant h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #4B4848;
    margin: 0;
}

.pharmaceutical-box figure {
    margin: 0;
}

.search-container {
    margin-bottom: 25px;
    text-align: right;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.search-container-out {
    position: relative;
    width: 40%; 
}
.search-container input[type="text"] {
    padding: 10px 17px;
    border: 1px solid #D7D7D7;
    border-radius: 6px;
    width: 100%;
    outline: none;
    font-size: 20px;
    position: relative;
    padding-right: 60px;
}
.search-container-out button.searchbut {
    position: absolute;
    right: 0;
    font-size: 20px;
    padding: 9px 22px;
    font-weight: bold;
    border: none;
    bottom: 0;
    text-align: center;
    top: 0;
    background-color: #f7ad18;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.title h6 {
    color: #000;
    font-size: 16px;
}


/*************===========================********************/
section {
    padding: 70px 0
}

.listItem h3 {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.listItem {
    text-align: center;
    margin-bottom: 70px;
}

a.button-download-launcher,.buy_bundle {
    transition: 0.5s all ease;
}

a.button-download-launcher:hover,.buy_bundle:hover {
    box-shadow: 380px 0 0 0 #313b79 inset;
}

.title {
    text-align: center;
    margin-bottom: 75px;
}

a.button-download-launcher.border-only {
    background: transparent;
    border: 3px solid #CA373C;
    color: #CA373C;
}

.content-area h3 {
    margin-bottom: 0;
    line-height: 1.5;
    font-weight: bold;
    font-size: 15px;
    min-height: 50px;
    width: 80%;
} 
.content-area .review-item {
    padding: 10px 0px;
}
.content-area h6 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FF3434;
    margin-top: 9px;
    line-height: 1;
    position: absolute;
    right: 0;
    padding: 5px 6px;
    top: 12px;
}
.packageItem button.btn.btn-danger i.fa.fa-shopping-cart {
    margin-right: 10px;
}
.content-area p {
    width: 80%;
    font-size: 9px;
    margin-bottom: 0;
}
.content-area {
    padding: 25px 10px;
    box-shadow: 0 0 14px 0px #a9a7a7;
    position: relative;
}

.packageItem figure {
    margin-bottom: 0;
    position: relative;
}

a.button-download-launcher.border-only:hover {
    box-shadow: 277px 0 0 0 #ca373c inset;
    color: #fff;
}

.package-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    border-radius: 15px 15px 0 0;
    min-height: 256px;

}

.owl-carousel .owl-stage-outer {
    padding-bottom: 30px;
}

.what-you-get {
    position: relative;
    background-repeat: repeat;
}

.what-you-get::before {
    content: "";
    /* background-image: url(/static/images/slider-bg2.png); */
    width: 145px;
    height: 104px;
    position: absolute;
    top: 40px;
    left: 269px;
}

.packageItem {
    background: #fff;
}

.owl-nav button {
    outline: none;
    width: 40px;
    height: 40px;
    border: 1px solid #626262 !important;
    border-radius: 100px;
}

.owl-nav.disabled {
    display: block !important;
    position: absolute;
    top: 46%;
    transform: translateY(-50%);
    width: 100%;
}

.owl-nav button span {
    font-size: 50px;
    line-height: 26px;
}

button.owl-prev {
    position: absolute;
    left: -50px;
}

button.owl-next {
    position: absolute;
    right: -50px;
}

/****************pagination*****************/
.pagination {
    display: flex;
    background: #FBF9F9;
    border-radius: 6px;
    padding: 5px 0px;
    width: 100%;
    justify-content: center;
}

.filterkey li:last-child {
    padding: 0;
}

.pagination a {
    /* float: left; */
    padding: 8px 15px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #5C5656;
}

.pagination li.selected {
    color: #ff8b75;
}

.filter-title i.fa.fa-sliders {
    font-size: 22px;
    color: #000;
}


/****************pagination*****************/

.bannerbottom a.button-download-launcher {
    color: #000000;
    background: #f7ad18;
}

.bannerbottom a.button-download-launcher:hover {
    color: #fff;
    box-shadow: none !important;
    background-color:#303c7a;
}
.bannerbottom .banner-content h1 {
    font-size: 40px;
    text-transform: capitalize;
    color: #000;
    line-height: 1.2;
    margin-bottom: 0;
}
.bannerbottom .banner-content p {
    color: #000;
    font-size: 20px;
    margin-bottom: 0;
}
.banner-content span {
    font-weight: 400;
}

section.banner.bannerbottom {
    min-height: 1px;
    padding-bottom: 0;
    height: auto;
    padding-top: 80px;
}

.newsletter {
    position: relative;
    width: 70%;
}

.newsletter input[type="text"] {
    background: #FAFAFA;
    border: 1px solid #D3D3D3;
    box-sizing: border-box;
    border-radius: 62px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #959494;
    width: 100%;
    height: 63px;
    padding: 10px 21px;
}

.newsletter button {
    background: #CA373C;
    border-radius: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    position: absolute;
    right: 0;
    top: 0;
    height: 63px;
    border: none;
    min-width: 201px;
    cursor: pointer;
}

.newslettersection h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 35px;
    color: #1E1919;
    margin-top: 11px
}

.newslettersection h4 small {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 35px;
    color: #FF6666;
}

/********************footer************************/

section.main-footer {
    background-color: #F8F6F5;
}

.massage-box {
    text-align: center;
}

.massage-box h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    padding-top: 15px;
}


.massage-box a {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #807B7B;
    text-decoration: none;
}

.footer-menu li a:hover {
    color: #ca373c;
}

.footer-menu li a:hover {
    color: #ca373c;
}

.socail-media {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 45px 0px;
}

.socail-media li a {
    width: 60px;
    height: 60px;
    display: inline-block;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 3px rgb(0 0 0 / 25%);
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    text-decoration: none;
}

.socail-media li {
    padding: 15px 20px;
}

.footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-menu li a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    color: #000000;
    text-decoration: none;
}
.pravesipolisi ul li a {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
}
.footer-menu li {
    padding: 20px 30px;
}

.copy-right {
    text-align: center;
    padding: 30px 0px;
}
.pravesipolisi ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy-right p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
    line-height: 1.5;
}

footer {
    background: #001542;
    padding: 20px 0px 20px 0px;
}
.pharmaceutical-contant h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FF3434;
    margin-top: 9px;
    margin-bottom: 0;
    line-height: 1;
}



.mideel-mene ul li.dropdwon {
    position: relative;
}

.pravesipolisi ul li a {
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    padding: 0px 10px;
    border-right: 1px solid #fff;
    text-decoration: none;
}



.mideel-mene ul.varymenu li:last-child {
    display: none;
}

.indastry-content a:hover {
    color: #313b79;
}

.pharmaceutical-box figure {
    margin: 0;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    position: relative;
}
figure p {
    background-color: #303c7a;
    color: #fff;
    font-size: 11px;
    padding: 2px 5px;
    position: absolute;
    bottom: 108px;
    font-weight: 600;
    border-radius: 0px 5px 5px 0;
}
.buttons span {
    font-size: 11px;
    font-weight: 600;
}
.prodwerp {
    background-color: #303c7a;
    padding: 0 9px;
    border-radius: 5px;
}
.userswithicon {
    padding: 8px 0;
}
.mideel-mene ul.list-menu li.nav-item.dropdown {
    margin-top: 4px;
}





/**************************/


.slider-button {
    top: 50%;
    transform: translateY(-50%);
    outline: none !important;
    width: 40px;
    height: 40px;
    border: 1px solid #626262 !important;
    border-radius: 100px;
}

.slider-button span {
    font-size: 50px;
    line-height: 26px;
}




h3.like-tex {
    text-align: center;
    padding-bottom: 40px;
}


.handvoerbox {
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 7%);
    border-radius: 20px;
}


.handvoer-img img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}


.handvoer-box-content {
    padding: 20px 15px;
}

.handvoer-box-content h4 {
    font-size: 18px;
    padding-bottom: 10px;
}

section.shift-hendvery {
    background: #fffdfd;
    padding: 50px;
}


.shift-content h3 {
    font-weight: 500;
    font-size: 30px;
    color: #262627;
    text-align: left;
}
.shift-content p {
    font-size: 15px;
    line-height: 24px;
    color: #000000;
}

.shift-content h4 {
    font-size: 30px;
    line-height: 37px;
    color: #ca373c;
    font-weight: 600;
}

.shift-content h4 span {
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: line-through;
    color: #9B9C9D;
    padding-right: 8px;    font-weight: 300;
}

.recommended {
    border-top: 1px solid #C4C4C4;
    padding: 10px 0px;
}
.recommended h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
    letter-spacing: 0.05em;
}
.all-check-box .form-check {
    margin: 0px;
    width: 46%;
}
.all-check-box .form-check:last-child {
    width: 100%;
}
.all-check-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.all-check-box label.form-check-label {
    font-weight: 500;
    font-size: 13px;
    line-height: 1;
    color: #494C54;
    font-family: 'Montserrat';
}

.all-check-box label.form-check-label {
    font-weight: 500;
    font-size: 13px;
    line-height: 1;
    color: #494C54;
    font-family: 'Montserrat';
}
.detail-all-butoon input {
    background: #FAF2F2;
    border-radius: 6px;
    width: 123px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #3D3D3D;
    text-align: center;
    height: 45px;
    border: none;
    outline: none;
}

.cart-but button.addtubul:nth-child(3) {
    background: #CA373C;
    color: #ffff;
}
.cart-but button.addtubul:hover {
    background-color: #ca373c;
    color: #fff;
}
.cart-but {
    padding: 15px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.cart-but * {
    margin-right: 15px;
}

 
.buttons button.addtubul {
    width: 190px;
}
.bundle button.addtubul:hover {
    background-color: #ca373c;
    color: #fff;
}
button.addtubul { font-family: 'Montserrat';
    padding: 7px 15px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    outline: none;
    background-color: white;
    cursor: pointer;
    color: #3D3D3D;
    border: 1px solid #CA373C;
    border-radius: 6px;
}

.bundle button.addtubul {
    width: 48%;
}

.wishlist button.addtubul {
    border: none;
    color: #313b79;
}

.bundle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #C4C4C4;
    padding: 15px 0px;
}

.wishlist {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
}

.devices-available a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 18px;
    text-transform: uppercase;
    color: #d8373c;
    text-decoration: none;
    position: relative;
}


.slick-slide img {width: 100%;} 

.slick-dots.slick-thumb li {width: 120px;height: 84px;}
.slick-dots{
    position: relative;
}

.slick-dots.slick-thumb li.slick-active {border: 1px solid grey;padding: 1px;}

.registerForm .MuiFormControl-root:nth-child(2n) {
    margin-left: 2%;
}
 
body .modal,.modal-backdrop { 
    z-index: 1200;
}
.registerForm {
    padding-bottom: 0!important;
}
body .btn-primary {
    color: #fff;
    background-color: #CA373C;
    border-color: #CA373C;
    border-radius: 110px;
    max-width: 200px;
    margin: 0 auto;
    height: 48px;
}
body .btn-primary:hover,body .btn-primary:focus {
    color: #fff;
    background-color: #313b79!important;
    border-color: #313b79!important;
}
.text-primary {
    color: #ca373c !important;
}
.registerForm .MuiFormControl-root {
    width: 100%;
    position: relative;
}
.fieldList {
    width: 48%;
    display: inline-block;
    vertical-align: top;
}
.fieldList:nth-child(2n) {
    margin-left: 4%;
}
.fieldList.fullwidth {
    width: 100%;
    text-align: center;
}
/************************************/
/*//////////////////*/
.card {
    border: 0;
    border-bottom: 1px solid #e7e2df;
    border-radius: 0;
    padding-bottom: 30px;
    padding-top: 20px;
}

.cartlist button.removeItem {
    border: 0;
    background-color: transparent;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #dc3545;
}

.cartlist h6 {
    font-weight: 600;
    font-size: 18px;
}
.cartlist h5.card-title {
    font-weight: 600;
    font-size: 18px;
}
.cartlist h4 {
    font-weight: 600;
    font-size: 18px;
}

.topstrip {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.text-white { 
    border-radius: 0 !important;
}

.container.cartcontainer { 
    position: relative;
}

.container.cartcontainer h3::after {
    position: absolute;
    content: "";
    height: 5px;
    width: 150px;
    background-color: #f3f2f2;
    left: 15px;
    bottom: 0;
    top: 45px;
}
.cartlist h5.card-title { 
    margin: 0;
    padding-bottom: 0!important;
}
.cartLayout {
    padding-bottom: 70px;
}
.cartLayout .card {
    border-radius: 0;
    padding-bottom: 20px;
    padding-top: 0;
}
.pharmaceutical-box img {
    height: 150px;
}

.main-farmertycal {
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: 0px 5px 11px -3px rgb(0 0 0 / 30%);
    border-top: 2px solid #f7ad18;
}

.listitem-farmertycal {
    width: 16.67%;
    margin: 0 auto;
    position: relative;
    z-index: 9;
}

.indastry:hover {
    
    background-color:#f7ad18 ;
    transition: 0.3s;
}
.indastry:hover h4 {
    color: #fff;
}
.indastry:hover a {
    color: #fff;
}
.listitem-farmertycal:last-child .indastry {
    border: none;
}
.indastry-img img {
    max-width: 50px;
}
.courses .slick-track { 
    width: 100%!important;
}
.packageItem button.btn.btn-danger {
    font-size: 17px;
    line-height: 1;
    padding: 14px!important;
    font-weight: 600;
}
.packageItem button.btn.btn-danger:hover {
    box-shadow: 380px 0 0 0 #f7ad18 inset;
    border-color: #f7ad18;
    color: #000;
}
.review-icon ul li {
    color: #716e6e;
}
.girditem a.girdfilter,.girditem a.viewfilter {
    font-size: 22px;
}
section.newslettersection {
    display: none;
}
.pravesipolisi ul li:last-child a {
    border: none;
}



@media only screen and (min-width: 1599px) {
    .girditem a {
        font-size: 20px;
    }
    
    
    .container {
        max-width: 1500px;
        margin: 0 auto;

    }
    /* .buttons button.addtubul {
        width: 125px;
    } */
}


.girditem a.girdfilter {
    margin-right: 20px;
}
.coursesSlider .packageItem {
    margin-bottom: 20px;
}
@media only screen and (max-width: 1599px) {



    .indastry-img img {
        max-width: 30px;
    }
    .buttons button.addtubul {
        width: 125px;
    }

    .copy-right p {
        font-size: 14px;
    }

    .socail-media {
        padding: 30px 0px;
    }

    .content-area {
        padding: 35px 10px;
    }

    .filterbut .control__content {
        font-size: 10px;
    }

    .search-container i.fa.fa-search {
        right: 295px;
        top: 9px;
        font-size: 15px;
    }

    .search-container input[type="text"] {
        padding: 5px 17px;
        padding-left: 5px;
        font-size: 14px!important;
    }

    


    section {
        padding: 50px 0;
    }

    h3 {
        font-size: 35px;
    }

   

    .filter-header {
        padding: 5px 15px;
    }

    .filter-title i.fa.fa-sliders {
        font-size: 22px;
    }

    .filter-title h6 {
        font-size: 15px;
    }

    .main-header {
        padding: 10px 0px;
    }

    .mideel-mene ul.list-menu li a {
        font-size: 15px;
    }
    
    
    .mideel-mene ul.list-menu li.nav-item button { 
        font-size: 15px; 
    }

    .varymenu li:last-child {
        padding-left: 20px !important;
    }

    /* .logo {
        width: 25%;
    }

    .mideel-mene {
        width: 75%;
    } */

    .mideel-mene ul.list-menu li {
        padding: 0px 18px 0px 0px;
    }

    .mideel-mene ul.varymenu li a,
    .mideel-mene ul.varymenu li .link {
        font-size: 20px;
    }

    .mideel-mene ul.varymenu li .sinup {
        font-size: 20px;
        padding: 3px 3px;
        width: 33px;
        height: 33px;
    }

    .mideel-mene ul li {
        padding: 0px 15px;
    }

    .mideel-mene ul li a.humb span.mainhunm span.line {
        width: 20px;
        height: 3px;
    }

    .mideel-mene ul li a.humb span.mainhunm span.line:nth-child(2) {
        width: 30px;
    }

    .mideel-mene ul li:last-child {
        position: relative;
    }

    .banner-content h1 {
        font-size: 50px;
        line-height: 1.3;
    }

    .filterkey li .plus {
        font-size: 15px;
        padding-bottom: 6px;
        margin-bottom: 5px;
    }

    .filterkey li .plus span.platform {
        width: 160px;
    }

    .pharmaceutical-contant h4 {
        font-size: 16px;
    }
    .review-icon ul li {
        padding: 0px 1px;
    }
    .prodwerp ul li {
        margin: 0px 2px;
    }
    .pharmaceutical-contant {
        padding: 13px 13px 13px 13px;
    }
    .prodwerp ul li a {
        font-size: 18px;
    }
    .pharmaceutical-contant h3 span {
        font-size: 16px;
    }
    
    .package-img {
        min-height: 190px;
    }

    .newsletter button {
        height: 45px;
        font-size: 18px;
        min-width: 165px;
    }

    .newslettersection h4 {
        font-size: 25px;
        margin-top: 5px;
    }

    .listItem figure {
        width: 60px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .newsletter input[type="text"] {
        height: 45px;
    }

    .search-container input[type="text"] {
        font-size: 15px;
    }

    .buttons button.carts {
        padding: 6px 10px;
        font-size: 19px;
    }

    .buttons button {
        padding: 7px 5px;
        font-size: 15px;
    }

    .listItem h3 {
        font-size: 17px;
    }

    .content-area h3 {
        font-size: 14px;
        line-height: 1;
        min-height: 50px;
        width: 73%;
    }

    .banner-content p {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.3px;
    }
    section.farmertical {
        margin-top: -40px;
    }
   .farmertical .container {
    padding: 0 50px;
    max-width: 100%;
}
    a.button-download-launcher {
        font-size: 18px;
        height: 55px;
        line-height: 58px;
        width: 315px;
        outline: 1px solid #f7ad18;
    }
    .content-area h6 {
        font-weight: 700;
        font-size: 17px;
        margin-top: 20px;
        top: 14px;
    }
    .search-container-out button.searchbut {
        font-size: 15px;
        padding: 3px 22px;
    }
    
    .bannerbottom .banner-content h1 {
        font-size: 35px;
        margin-bottom: 15px;
    }

    .content-area a.button-download-launcher.border-only {
        line-height: 40px;
    }

    .indastry-content h4 {
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 0;
    }
    .indastry {
        padding: 25px 15px;
        padding-right: 0;
    }
    

    .massage-box h5 {
        font-size: 16px;
    }

    .footer-menu li a {
        font-size: 15px;
    }

    .footer-menu li {
        padding: 18px 25px;
    }

    .allfilter {
        padding: 15px 15px;
    }

    .socail-media li a {
        width: 50px;
        height: 50px;
        font-size: 22px;
    }
    .girditem a {
        font-size: 20px;
    }
    .bannerbottom .banner-content::after { 
        border-width: 290px 100px 0 0; 
    }
}


@media only screen and (max-width: 1199px) {
    .logo a img {
        width: 70px;
    }
    
    .MuiMenu-list .bg-light {
        margin-left: 140px!important;
        margin-top: -35px;
    }
    .buttons button.addtubul {
        width: 111px;
    } 
    .banner {
        height: 500px;
    }
    button.addtubul { 
        font-size: 14px; 
    }
 
    .search-container i.fa.fa-search {
        right: 245px;
        top: 8px;
    }

    .search-container input[type="text"] {
        padding: 5px 17px;
        padding-left: 35px;
    }

    .copy-right {
        padding: 20px 0px;
    }

    .socail-media {
        padding: 25px 0px;
    }

    

    .mideel-mene ul.varymenu li .sinup {
        padding: 0px 3px;
    }

    .mideel-mene ul li {
        padding: 0px 10px;
    }

    .mideel-mene ul.list-menu li {
        padding: 0px 20px 0px 0px;
    }

    .mideel-mene {
        width: 90%;
    }

    .handvoer-box-content h4 {
        font-size: 15px;
    }

    .banner-content h1 {
        font-size: 30px;
        line-height: 48px;
    }

    h5.Pharmacepo {
        width: 180px;
        padding: 12px 0;
        font-size: 14px;
    }

    .pharmaceutical-contant h4 {
        font-size: 17px;
    }

    .pharmaceutical-contant h3 span {
        font-size: 18px;
    }

    .filterkey li .plus {
        font-size: 14px;
    }

    .filterbut .control {
        width: 100%;
    }

    .filterkey li .plus span.platform {
        width: 130px;
    }

    .filterkey li .plus {
        font-size: 14px;
    }

    .buttons button {
        padding: 7px 10px;
        font-size: 12px;
    }

    .buttons button.carts {
        padding: 6px 10px;
        font-size: 15px;
    }

    .listItem h3 {
        font-size: 18px;
    }

    .content-area h3 {
        font-size: 20px;
    }

    .newslettersection h4 small {
        font-size: 22px;
    }

    .newslettersection h4 {
        font-size: 22px;
    }

    .newsletter button {
        font-size: 18px;
        min-width: 150px;
    }
}



@media only screen and (max-width: 991px) {
  
    span.mainhunm {
        position: relative;
        z-index: 9999;
    }
    .logo a img {
        width: 100px;
    }
    .cart-but * {
        margin-right: 10px;
    }
    .search-container-out { 
        width: 65%; 
    }
    .bundle button.addtubul {
        width: 35%;
    }
    .main-banner .banner-content h1 {
        font-size: 28px; 
    }
    .indastry {
        justify-content: center;
        text-align: center;
    }
    .mideel-mene ul.varymenu li:last-child {
        display: block;
    }
    a.button-download-launcher {
        font-size: 15px;
        height: 45px;
        line-height: 45px;
        width: 260px; 
    }

    .banner {
        height: 500px;
    }

    .banner-content h1 {
        font-size: 25px;
        line-height: 40px;
    }

    .banner-content {
        padding-right: 48px;
        width: 70%;
    }

    h3 {
        font-size: 25px;
    }
    .bannerbottom .banner-content {
        width: 81%; 
    }

  
    section {
        padding: 45px 0;
    }

    button.owl-next {
        position: absolute;
        right: -30px;
    }

    button.owl-prev {
        position: absolute;
        left: -30px;
    }

    .owl-nav {
        display: block !important;
        position: absolute;
        top: 46%;
        transform: translateY(-50%);
        width: 100%;
    }

    .main-banner .banner-content h1 {
        font-size: 22px;
        line-height: 32px;
    }

    .newsletter {
        position: relative;
        width: 100%;
    }

    .footer-menu li {
        padding: 15px 20px;
    }

    .footer-menu li a {
        font-size: 15px;
    }

    .socail-media {
        padding: 30px 0px;
    }

    .mideel-mene ul.list-menu li {
        width: 100%;
        padding: 15px 15px;
    }

    .mideel-mene ul.list-menu {
        flex-wrap: wrap;
    }

    .ferty {
        transition: 1s;
        position: fixed;
        width: 300px;
        flex-wrap: wrap;
        right: -300px;
        background-color: #fff;
        z-index: 99;
        top: 91px;
        padding: 30px 0px 24px 0px;
        top: 90px;
        height: 100vh;
    }

    .mideel-mene.open .ferty {
        right: 0;
    }

    .mideel-mene {
        width: 35%;
        justify-content: end;
    }

    .search-form-main {
        padding: 10px;
        width: 300px;
    }

    .search-form-main input.search-field {
        font-size: 15px;
        padding: 8px;
    }

    .search-form-main input.search-submit {
        font-size: 15px;
        padding: 8px;
    }

    .search-container i.fa.fa-search {
        right: 150px;
        top: 8px;
    }
    .mideel-mene ul.varymenu li:nth-child(3) {
        padding-right: 0;
    }
    .mideel-mene ul.varymenu li:nth-child(2) {
        margin-right: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .mobwrep {
        flex-wrap: wrap;
    }
    .main-banner .banner-content h1 {
        font-size: 40px;
        line-height: 45px;
    }
    .img-no {
        padding-left: 15px!important;
    }
    .vercel> span { 
        margin-right: 12px!important; 
    }
    .paddi {
        padding-right: 15px!important;
    }
    .vercel {
        margin-bottom: 10px;
    }
    .devices-available a { 
        font-size: 18px; 
    }
    .wishlist { 
        flex-wrap: wrap;
    }
    .cart-but { 
        flex-wrap: wrap;
    }
    .cart-but button.addtubul {
        width: 100%;
        margin: 10px 0px;
        font-size: 18px;
    }
    .shift-content h4 {
        font-size: 20px; 
    }
    .shift-content h4 span {
        font-size: 18px; 
    }
    .shift-content h3 { 
        font-size: 25px; 
    }
    section.farmertical {
        padding: 30px 0px;
        margin: 0;
    }


    .bundle button.addtubul {
        width: 100%;
        font-size: 18px;
        margin: 10px 0px;
    }
    .wishlist button.addtubul { 
        padding: 10px 20px;
        font-size: 18px;
    }
    .buttons button.addtubul {
        width: 200px;
    }
    .teb-under-con ul li {
        padding: 0;
    }

    .teb-under-con ul {
        justify-content: space-between;
    }

    .teb-under-con ul li p {
        font-size: 12px;
    }

    .title {
        margin-bottom: 60px;
    }

    .mideel-mene {
        width: 70%;
    }

    .main-banner {
        justify-content: center;
        flex-wrap: wrap;
    }

    .all-teb ul li {
        padding: 10px 25px;
    }

    .all-teb h3 {
        font-size: 25px;
    }

    .all-teb ul a,
    .all-teb ul span {
        font-size: 16px;
        cursor: pointer;
    }

    .all-teb ul a,
    .all-teb ul span {
        font-size: 16px;
        cursor: pointer;
    }

    .banner-content {
        padding-right: 0;
        text-align: center;
        width: 100%;
    }

    section.shift-hendvery {
        padding: 40px 0px;
    }

    

    a.button-download-launcher {
        height: auto;
        margin-top: 10px;
        width: 100%;
    }

  
    .banner-img {
        padding-top: 30px;
    }

    h3 {
        font-size: 25px;
    }
   
  

    .filter-header {
        padding: 10px 15px;
    }

    .filterkey li .plus {
        font-size: 20px;
    }

    .filterkey li .plus span.platform {
        width: 235px;
    }

    .filterbut .control__content {
        font-size: 18px;
    }

    .search-container input[type="text"] {
        padding: 10px 17px;
        padding-left: 40px;
        width: 100%;
    }

    .search-container i.fa.fa-search {
        right: auto;
        top: 13px;
        left: 15px;
    }

    .buttons button {
        padding: 10px 10px;
        font-size: 18px;
    }

    .buttons button.addtubul {
        width: 200px;
    }

    .handvoer-box-content h4 {
        font-size: 18px;
    }

    .buttons button.carts {
        padding: 10px 10px;
        font-size: 18px;
    }

    .pagination {
        margin: 0 auto;
    }

    section {
        padding: 30px 0;
    }

    button.owl-prev {
        position: absolute;
        left: 0;
    }

    button.owl-next {
        position: absolute;
        right: 0;
    }

    .text-right {
        text-align: center !important;
    }

    footer {
        padding: 30px 0px 30px 0px;
    }
    
    .pravesipolisi ul li a {
        font-size: 13px; 
        padding: 0px 10px; 
    }    

    .massage-box {
        margin-bottom: 30px;
    }

    .socail-media {
        padding: 0px 0px;
    }

    .socail-media li {
        padding: 15px 15px;
    }

    .owl-nav button {
        background-color: #fff !important;
    }

    form.search-form {
        text-align: center;
    }

    .search-form-main {
        padding: 10px;
        width: 100%;
        right: 0;
    }

    .indastry {
        padding: 30px 30px;
    }

    .footer-menu li {
        padding: 15px 15px;
    }

    .footer-menu {
        flex-wrap: wrap;
    }

    .listItem figure {
        width: 70px;
    }

    .banner {
        height: auto;
        padding: 100px 0px;
    }

    .what-you-get::before {
        left: 0;
    }
    .detail-all-butoon input { 
        width: 100%; 
        font-size: 18px; 
        margin-bottom: 10px;
    }
    .fieldList {
        width: 100%; 
    }
    .fieldList:nth-child(2n) {
        margin-left: 0;
    }
    .main-farmertycal { 
        flex-wrap: wrap;
    }
    .indastry-img img {
        max-width: 50px;
    }
    .indastry-content h4 {
        font-size: 20px;
    }
    
    .indastry-content a {
        font-size: 17px;
    }    
    .indastry {
        padding: 15px 15px;
        justify-content: start;
        text-align: left;
        border-bottom: 2px solid #f7ad18;
        border-right: 0px;
    }
    .indastry-img {
        margin-right: 30px;
    }
    .search-container { 
        justify-content: space-between; 
        margin: 18px 0px;
        flex-wrap: wrap;
    }
    .search-container-out { 
        width: 100%;
        margin-right: 0;
    }
    .girditem { 
        margin: 10px 0px;
    }
    .buttons span {
        font-size: 14px; 
    }
    .buttons button.carts span {
        font-size: 14px; 
    }
    .buttons button.btn { 
        justify-content: space-around; 
    }
    .buttons button.carts { 
        justify-content: space-around;
    }
    .bannerbottom .banner-content {
        width: 100%;
        padding: 20px 20px 20px 20px;
    }
    .bannerbottom .banner-content::after {
        border-width: 314px 344px 0px 0px;
        border-color: white white white white;
    }
    .pravesipolisi ul { 
        margin-bottom: 0;
    }
    .copy-right {
        padding: 10px 0px;
    }
    bannerbottom .banner-content h1 {
        font-size: 25px;
    }
    .bannerbottom .banner-content p { 
        font-size: 18px;
        margin-bottom: 15px;
    }
    .listitem-farmertycal {
        width: 100%; 
    }
    .indastry-content h4 {
        font-size: 20px;
    }
    .indastry-content a {
        font-size: 15px;
    }
}


.next-image-to-normal>span, .next-image-to-normal>span>img {position: unset!important;}
.next-image-to-normal>span>img {
    width: 100%!important;
    height: auto!important;
}


.carts.bg-danger{
    cursor: not-allowed!important;
}

.image-p-s {height: 350px;}

.image-p-s img {object-fit: cover;}

/**************plans-subscription******************/

.banner-plans {
    background-color: #001542;
    padding: 110px 0px 60px;
}
.banner-content-ple h2, .banner-content-ple p {
    color: #fff;
}
.banner-plans  a.subscriptiondwonlod {
    background: #CA373C;
    border-radius: 21px;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    padding: 10px 25px;
    transition: 0.5s all;
    margin-top: 0px;
    display: inline-block;
}
.banner-plans  a.subscriptiondwonlod:hover{
box-shadow: 277px 0 0 0 #3a437e inset;}

.mideel-mene ul li:last-child a span.badge.badge-danger {
    position: absolute;
    border-radius: 100px;
    right: -10px;
    top: -10px;
}
.bord {
    padding: 50px 100px 50px;
    border-radius: 0;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 10px;
}
.bord h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    color: #271B1B;
}
.bord h4 {
    color: #FF3434;
    font-weight: 600;
    font-size: 18px;
}
.bord p {
    font-size: 16px;
    line-height: 35px;
    color: #271B1B;
    margin: 0;
}
.bord button.btn.btn-link {
    border: 0;
    background-color: #3a437e;
    text-transform: uppercase;
    text-decoration: underline;
    color: #dc3545;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    margin-left: 14px;
    border-radius: 50px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.bord  button.btn.btn-danger  { 
    border-radius: 50px;
    text-transform: uppercase;
    height: 40px;
}
.bord button.btn.btn-link:hover{
    box-shadow: 277px 0 0 0 #dc3545 inset;

}
.bord  button.btn.btn-danger:hover {
    box-shadow: 277px 0 0 0 #313b79 inset;
    border-color: #313b79;
}
.bord img{
    border-radius:20px;
}
h5.card-title {
    font-weight: 600;
    font-size: 18px;
}
.bord:after {
    content: "";
    background-image: url(/static/images/slider-bg2.png);
    width: 145px;
    height: 104px;
    position: absolute;
    top: 40px;
    left: 269px;
}
.bord::before {
    content: "";
    background-image: url(/static/images/round-shap.png);
    width: 145px;
    height: 145px;
    position: absolute;
    right: 77px;
    background-repeat: no-repeat;
    top: 40px;
    z-index: 999;
    background-size: 170px;
    opacity: 0.5;
}

.bord:nth-child(odd) {
    background-color:rgba(248, 246, 245, 1);
}
.subscription-plans{
padding-top: 0;
}
.bord:nth-child(odd) .col-md-6:nth-child(2) {
    padding-left: 45px;
}
.tophead {
    background: #fff4f4;padding: 10px;
}
 
.tophead h3 span {
    color: #ca373c;
}
.tophead h3 {
    font-size: 20px;
    color: #313b79;
    font-weight: 600;
    margin-bottom: 0;
}

.custombundel .card {
    padding-bottom: 18px;
    padding-top: 0px;
}
.custombundel {
    margin-top: 40px;
}
.tophead {
    background: #fff4f4;
    padding: 10px;
    width: 100%;    
    position: relative;cursor: pointer;
}
.bundleList .card-body {
    padding: 10px 0;
}
.bundleList .card-body h5 {
    font-weight: 600;
    font-size: 16px;
    color: #313b79;
    line-height: 1;
    margin-bottom: 5px;
}
.bundleList .card-body p.card-text {
    font-size: 14px;
    font-weight: 500;
}
.bundleList .card {
    padding-bottom: 15px;
}
i.fa.fa-caret-down, i.fa.fa-caret-up {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.toggleCollapse {
    width: 100%;
}

@media only screen and (max-width: 1199px) {


    .bord {
        padding: 50px 50px 50px;
    }

    .indastry {
        padding: 10px 10px;
    }
    .indastry-content h4 {
        font-size: 11px; 
    }
    .indastry-content a {
        font-size: 12px;
    }
    
    .buttons span {
        font-size: 7px;
        font-weight: 600;
    }
    .buttons button.btn {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .bannerbottom .banner-content h1 {
        font-size: 30px;
    }
    .bannerbottom .banner-content {
        overflow: hidden;
    }
}
@media only screen and (max-width: 767px) {
    .bord {
        padding: 50px 15px 50px;
    }
    
    .bord:nth-child(odd) .col-md-6:nth-child(2) {
        padding-left: 0;
    }
    .bord .col-md-6:nth-child(2){
padding-top: 45px;
text-align: center;


    }
  


}






.otp-form > div {justify-content: center;}

.otp-form > div > div input {width: 38px!important;border-radius: 4px;border-style: solid;padding: 8px 0px;}
